<body>{%extends 'base.html' %}

{%block content %}
  {% if name %}
  <h3>Here you see {{table_name}} table</h3>
  {% endif %}
  <form  class = "grid" action="/result" method="POST">
    <label for="Name">Choose the ID of the product to view more:</label><br>
    <input type="text" class="id" id="id" name="id"><br>
    <input type="submit" class="submit">
  </form>
    {% if name %}
    <h3>{{name}} </h3><br>
    <a href="http://127.0.0.1:5000/update">Update</a>
    <a href="http://127.0.0.1:5000/delete">Delete</a>
    {% endif %} 
    <a href="http://127.0.0.1:5000/create">Create</a><br>
    
    <a href="http://127.0.0.1:5000/">Change table</a>

{% endblock %}
</body>

<style>
  body{
     background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    }
  h3{
    font-size: 20px;
    margin-left: 40px;
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  label{
    font-size: 20px;
    margin-left: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .id{
    margin-top: 20px;
    margin-left: 40px;
        font-size: 20px;
        background-color: white;
        border: none;
  }
  .submit{
    margin-top: 20px;
    margin-left: 40px;
        font-size: 20px;
        background-color: #efa876;
        border: none;
        color: black;
        padding: 7px;
  }
  a{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    text-decoration: none;
    margin-left: 40px;
    margin-top: 30px;
  }
</style>